{%extends 'base.html'%} {%block content%} {%if user.is_authenticated%}
<div class="container" style="width:600px;margin-top:50px">
    <h4 class="h4">Add Album</h4>
    <p class="lead" style="font-size: 15px;">
        Add albums
    </p>

    <form action="" method="POST">
        {% load crispy_forms_tags %} {% csrf_token %} {{form|crispy }}
        <br />
        <button style="color: red;" type="submit">Submit</button>
    </form>
</div>
<br />
<hr />
<h3>Added Albums</h3>
<br />
<table class="table table-dark">
    <thead>
        <tr>
            <th>Album Title</th>

            <th>Year</th>
            <th>Album Art</th>
        </tr>
    </thead>
    {% if albums %}
    <tbody>
        {% for a in albums %}
        <tr>
            <td>{{ a.album_title }}</td>

            <td>{{a.year}}</td>
            
            <td>
                <img
                    src="{{ a.album_logo}}"
                    alt="No image Found"
                    style="width: 40px;height: 40px; border-radius:1px;"
                />
            </td>
            
        </tr>
        {% endfor %} {% else %}
        <div class="container">
            <div class="row">
                <div class="card-body"></div>
            </div>
        </div>
    </tbody>
    {% endif %}
</table>
{%else%}
<p>Please login in order to add Album</p>
<a class="nav-link" href="../user/login">Login</a>
{%endif%} {% endblock%}
