{%extends 'base.html'%} {%block content%} {%if user.is_authenticated%}
{%for m in music%}
<div style="margin: 20px;">
    <div class="card" style="width: 18rem;">
        <img
            class="card-img-top"
            src="{{m.music_coverArt}}"
            alt="Card image cap"
        />
        <div class="card-body">
            <h5 class="card-title">{{m.music_title}}</h5>
            <p class="card-text">{{m.music_artist}}</p>
            <p class="card-text">{{m.music_length}} M</p>
            <hr>
            <h5>Edit Here</h5>
            <form method="post">
               {% csrf_token %}
                    <div class="col">
                        <h6>Music Title</h6>&nbsp;&nbsp;<input
                            type="text"
                            class="form-control"
                            value="{{m.music_title}}"
                            name="music_title"
                        />
                        <br />
                    </div>
                    <div class="col">
                        <h6>Artist:</span>&nbsp;&nbsp;<input
                            type="text"
                            class="form-control"
                            value="{{m.music_artist}}"
                            name="music_artist"
                        />
                    </div>
                    <br />
                    <div class="col">
                        <h6>Length:</span>&nbsp;&nbsp;<input
                            type="number"
                            class="form-control"
                            value="{{m.music_length}}"
                            name="music_length"
                        />
                    </div>
                    <br />
                    <div class="col">
                        <h6>Album</span>&nbsp;&nbsp;<input
                            type="text"
                            class="form-control"
                            value="{{m.music_album}}"
                            name="music_album"
                        />
                    </div>
                    <br />
                    <div class="col">
                        <h6>Cover Art (URL)</span>&nbsp;&nbsp;<input
                            type="text"
                            class="form-control"
                            value="{{m.music_coverArt}}"
                            name="music_coverArt"
                        />
                    </div>
                    <br />
                    <div class="col">
                        <h6>Upload  File</>&nbsp;&nbsp;<input
                            type="file"
                            class="form-control"
                            value="{{m.music_file}}"
                            name="music_file"
                        />
                    </div>
                    
                    </div>
                
            </div>
            <button type="submit" class="btn btn-primary" name = "id" value="{{m.id}}">Save Changes</button>
            </form>
        </div>
    </div>
</div>
<br />

    {%endfor%} {%endif%} {%endblock%}
</div>
