{%extends 'musicLib/base.html'%} {%block content%} <div class="
<div class="container">
    {%for m in music%}
    <br />
    <ul class="list-group" style="width:500px; margin-left:30%">
        <li
            class="list-group-item d-flex justify-content-between align-items-center"
        >
            {{m.music_title}}
            <span>{{m.music_length}} M</span> &nbsp;&nbsp;&nbsp;
            <img
                src="{{m.music_coverArt}}"
                class="rounded float-left"
                alt="No Image Found"
                style="width: 50px;height: 50px;"
            />
            <span class="badge badge-primary badge-pill">Play</span>
        </li>
    </ul>

    {%endfor%}
</div>
{% endblock%}
