{%extends 'base.html'%} {%block content%} {%if user.is_authenticated%}
<div class="container" style="width:600px;margin-top:50px">
    <h4 class="h4">Upload New Music</h4>
    <p class="lead" style="font-size: 15px;">
        Upload music of your choice.
    </p>

    <form method="POST">
        {% csrf_token %}
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Music Title"
                name="music_title"
            />
            <br />
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Artist"
                name="music_artist"
            />
        </div>
        <br />
        <div class="col">
            <input
                type="number"
                class="form-control"
                placeholder="Music Length"
                name="music_length"
            />
        </div>
        <br />
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Album"
                name="music_album"
            />
        </div>
        <br />
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Image URL"
                name="music_coverArt"
            />
        </div>
        <br />
        <div class="col">
            <input
                type="file"
                class="form-control"
                placeholder="Upload Music File Here"
                name="music_file"
            />
        </div>
        <div class="col">
            <button
                style="margin-top: 10px;"
                type="submit"
                class="btn btn-success"
            >
                Upload
            </button>
        </div>
    </form>
</div>
{%else%}
<p>Please login in order to upload music</p>
<a class="nav-link" href="../user/login">Login</a>
{%endif%} {% endblock%}
