{%extends 'base.html'%} {%block content%} {%if user.is_authenticated%}
<div class="container" style="width:600px;margin-top:50px">
    <h4 class="h4">Upload New Music</h4>
    <p class="lead" style="font-size: 15px;">
        Upload music of your choice.
    </p>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% load crispy_forms_tags %} {{ field.errors }}
        {{form|crispy }}
        <br />
        <button style="color: red;" type="submit">Submit</button>
    </form>
</div>
{%else%}
<p>Please login in order to upload music</p>
<a class="nav-link" href="../user/login">Login</a>
{%endif%} {% endblock%}
