{%extends 'base.html'%} {% block content %} {% if user.is_authenticated%}
<br />
<p>Hey <b>{{user.first_name}},</b></p>

<small>You're Logged In</small>

<!-- {% csrf_token %} -->
{%if premium or request.user.is_superuser %}
<h5 style="color: gold;">!!! Premium User !!!</h5>
{% else %}
<a href="/payment/"> <button value="">Convert to Premium</button></a>
{%endif%}
<br />
<form method="POST" action="../logout/">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Log Out</button>
    <br />
    <br />
</form>
<br />

<!-- <form action="/user/delete/{{m.id}}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete Me !!!</button>
</form> -->
<br />
<br />

{% if request.user.is_superuser %}
<a href="/upload/">Upload New Music</a>
<br />
<br />
<a href="/addGenre/">Add new Genre</a>
<br />
<br />
<a href="/addAlbum/">Add new Album</a>
<br />
<br />
<a href="/addArtist/">Add new Artist</a>
<br />
<br />
<a href="/addDistributor/">Add new Distributor</a>
{%endif%}
<hr />
<br />

<table class="table table-dark">
    <thead>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Coverart</th>
            <th>Play Audio</th>
            {%if premium or request.user.is_superuser %}
            <th>Download Audio</th>
            {% else %}
            <span style="color: brown;">Become Premium to download</span>
            {%endif%} {% if request.user.is_superuser %}
            <th>Actions</th>
            {%endif%}
        </tr>
    </thead>

    {% if musics %}
    <tbody>
        {% for m in musics %}
        <tr>
            <td>
                {{ m.music_title }}
                <br /><span style="font-size: 12px;color:darkgray;"
                    >{{m.music_genre}}</span
                >
                <br />
                <span style="font-size: 10px;color:darkgray;"
                    >{{m.date_uploaded}}</span
                >
            </td>
            <td>{{ m.music_album }}</td>
            <td>{{ m.artist }}</td>
            <td>
                <img
                    src="{{m.music_coverArt}}"
                    class="rounded float-left"
                    alt="No Image Found"
                    style="width: 50px;height: 50px;"
                />
            </td>
            <td>
                <audio controls>
                    <source src="{{ m.music_file.url }}" type="audio/mpeg" />
                </audio>
            </td>
            <td>
                <!-- Download song from here -->
                {%if premium or request.user.is_superuser %}
                <a href="{{ m.music_file.url }}" download> Download </a>
                {% else %}
                <span style="color: brown;">Become Premium to download</span>
                {%endif%}
            </td>
            {% if request.user.is_superuser %}
            <td>
                <a href="/{{m.id}}"> Edit </a>
                &nbsp;&nbsp;&nbsp;
                <form action="/delete/{{m.id}}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            {%endif%}
        </tr>
        {% endfor %} {% else %}
        <div class="container">
            <div class="row">
                <div class="card-body"></div>
            </div>
        </div>
    </tbody>
    {% endif %}
</table>
{% else %}
<p>Please Login</p>
{% endif %} {%endblock%}
