{%extends 'base.html'%} {% block content %} {% if user.is_authenticated%}

<p>Hey <b>{{user.username}},</b></p>
<small>You're Logged In</small>
<form method="POST" action="payment/">
    {% csrf_token %}
    <button type="submit" value="{{user.id}}">Convert to Premium</button>
</form>
<form method="POST" action="../logout/">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Log Out</button>
</form>
<br />
<hr />
<br />

<table class="table table-dark">
    <thead>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Coverart</th>
            <th>Play Audio</th>
            <th>Download Audio</th>
        </tr>
    </thead>
    {% if musics %}
    <tbody>
        {% for m in musics %}
        <tr>
            <td>{{ m.music_title }}</td>
            <td>{{ m.music_album }}</td>
            <td>{{ m.music_artist }}</td>
            <td>
                <img
                    src="{{m.music_coverArt}}"
                    class="rounded float-left"
                    alt="No Image Found"
                    style="width: 50px;height: 50px;"
                />
            </td>
            <td>
                <audio controls>
                    <source src="{{ m.music_file.url }}" type="audio/mpeg" />
                </audio>
            </td>
            <td>
                <!-- Download song from here -->
                <a href="{{ m.music_file.url }}" download> Download </a>
            </td>
        </tr>
        {% endfor %} {% else %}
        <div class="container">
            <div class="row">
                <div class="card-body"></div>
            </div>
        </div>
    </tbody>
    {% endif %}
</table>
{% else %}
<p>Please Login</p>
{% endif %} {%endblock%}
