{%extends 'base.html'%} {% block content %} {% if user.is_authenticated%}
<h5>You should pay $199</h5>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                name="cname"
            />
            <small id="emailHelp" class="form-text text-muted"
                >Enter binaries for demo purpose</small
            >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">CVV</label>
            <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="cvv"
            />
            <small id="emailHelp" class="form-text text-muted"
            >Enter 1212 for demo purpose</small
        </div>

        <button style="color: red;" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{%endif%} {%endblock%}
